p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-color);
  color: var(--text-color);
}

body .modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

ul,
li,
nav,
span {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__title,
.team__title,
.client__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .about__title,
  .team__title,
  .client__title {
    margin-bottom: 50px;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:nth-child(n + 2) {
  margin-left: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__link--dark {
  background: rgba(255, 255, 255, 0.1);
}

.social__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.social__icon--team {
  fill: #afb1b8;
}

.social__icon--light {
  fill: #ffffff;
}

header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
    min-height: 60px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-decoration: inherit;
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    line-height: 1.19;
  }
}

.header__logo {
  color: #000000;
}

.nav__open {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

.nav__open :hover.menu__open,
.nav__open :focus.menu__open {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav__open {
    display: none;
  }
}

.nav__container {
  background-color: #ffffff;
  padding: 48px 40px;
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .nav__container {
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav__container.is-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__container {
    display: flex;
    width: 516px;
    height: 80px;
    padding: 0;
    position: relative;
    justify-content: space-between;
    margin-left: 87px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__container {
    margin-left: 93px;
  }
}

.nav__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-style: none;
  outline: none;
  background-color: inherit;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__close:hover .nav__end,
.nav__close:focus .nav__end {
  fill: #2196f3;
}

@media screen and (min-width: 480px) {
  .nav__close {
    right: 120px;
  }
}

@media screen and (min-width: 768px) {
  .nav__close {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    width: 294px;
    height: 48px;
    justify-content: space-between;
  }
}

.nav__item {
  display: block;
}

@media screen and (max-width: 767px) {
  .nav__item {
    margin-bottom: 32px;
  }
  .nav__item:last-child {
    margin-bottom: 302px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  outline: none;
  position: relative;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: inherit;
}

@media screen and (max-width: 767px) {
  .nav__link {
    height: 48px;
    font-size: 40px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  .nav__link::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: #2196f3;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::after {
  opacity: 1;
}

.auth {
  display: block;
}

@media screen and (min-width: 768px) {
  .auth {
    padding: 21px 0px 21px 84px;
  }
}

@media screen and (min-width: 1200px) {
  .auth {
    width: 333px;
    margin-left: 305px;
    display: flex;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .auth__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth__link {
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: inherit;
  color: #757575;
  outline: none;
}

.auth__link:hover, .auth__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .auth__link {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .auth__tel {
    font-size: 34px;
    line-height: 1.18;
    color: #2196f3;
    position: relative;
    bottom: 30px;
  }
}

@media screen and (min-width: 611px) and (max-width: 767px) {
  .auth__tel {
    right: 80%;
  }
}

@media screen and (max-width: 479px) {
  .auth__tel {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .auth__tel {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .auth__tel {
    width: 142px;
    height: 16px;
    margin-left: 30px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .auth__mail {
    font-size: 24px;
    line-height: 1.17;
    position: relative;
    top: 80px;
  }
}

@media screen and (min-width: 768px) {
  .auth__mail {
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .auth__mail {
    width: 161px;
    height: 16px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
  align-content: center;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .auth__icon {
    display: none;
  }
}

.auth__link:hover .auth__icon,
.auth__link:focus .auth__icon {
  fill: #2196f3;
}

.navsocial__list {
  position: relative;
  top: 100px;
}

@media screen and (min-width: 768px) {
  .navsocial__list {
    display: none;
  }
}

.navsocial__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.navsocial__item:not(:first-child) {
  padding-left: 10px;
}

@media screen and (max-width: 479px) {
  .navsocial__item {
    margin-bottom: 10px;
  }
}

.navsocial__link {
  width: 81px;
  height: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
}

.hero {
  width: 100%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  background-color: #212121;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1xmob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2xmob.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero {
    padding: 118px 60px;
    width: 480px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1xtabl.jpg);
    width: 768px;
    height: 400px;
    padding: 118px 0;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero2xtabl.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero1xdesk.jpg);
    padding: 200px 0;
    min-height: 600px;
    width: 100%;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero2xdesk.jpg);
  }
}

.hero__title {
  min-width: 320px;
  height: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
    height: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: block;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  outline: none;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  border-radius: 0;
}

.features {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  display: inline-block;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features__item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .features__item:nth-last-child(-n + 2) {
    margin-bottom: 60px;
  }
  .features__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    text-align: left;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__wrap {
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .features__wrap {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__wrap {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__wrap {
    width: 270px;
  }
}

.features__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .features__title {
    width: 270px;
    margin-left: 0;
    text-align: start;
  }
}

.features__text {
  width: 100%;
  min-height: 50px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .features__text {
    width: 354px;
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .features__text {
    width: 270px;
    min-height: 75px;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
  min-height: 648px;
}

.team__list {
  display: block;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .team__list {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    width: 1170px;
  }
}

.team__item {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
    height: 622px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
    height: 536px;
  }
  .team__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    height: 428px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

@media screen and (min-width: 480px) {
  .team__card {
    height: 162px;
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    height: 168px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
  }
}

.client__item {
  flex-basis: calc((100% - 30px) / 2);
}

@media screen and (max-width: 767px) {
  .client__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .client__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .client__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .client__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    margin-bottom: 0;
    flex-basis: calc((100% - 30px) / 6);
  }
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
}

.client__icon {
  display: flex;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: #2196f3;
}

footer {
  background-color: #2f303a;
  min-height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    width: 154px;
    height: 28px;
    margin: 0 auto 20px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .footer__container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    margin-left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.footer__logo {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer__address {
    width: 232px;
    height: 79px;
    margin: 0 auto 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    margin-left: 61px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    width: 231px;
    height: 81px;
    margin-left: 0;
  }
}

.footer__location {
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: inherit;
  color: #ffffff;
  outline: none;
}

@media screen and (max-width: 1199px) {
  .footer__location {
    margin-right: auto;
    margin-bottom: 8px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__location {
    margin-bottom: 9px;
  }
}

.footer__location:hover, .footer__location:focus {
  color: #2196f3;
}

.footer__mail {
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: inherit;
  color: #ffffff96;
  outline: none;
}

@media screen and (max-width: 1199px) {
  .footer__mail {
    margin-bottom: 8px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mail {
    margin-bottom: 9px;
  }
}

.footer__mail:hover, .footer__mail:focus {
  color: #2196f3;
}

.footer__tel {
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: inherit;
  color: #ffffff96;
  outline: none;
}

.footer__tel :hover,
.footer__tel :focus {
  color: #2196f3;
}

.footer__slogan {
  width: 206px;
  height: 80px;
}

@media screen and (max-width: 1199px) {
  .footer__slogan {
    margin: 0 auto 60px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .footer__slogan {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__slogan {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__slogan {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.footer__text {
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer__fild {
    width: 450px;
    height: 156px;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .footer__fild {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__fild {
    width: 570px;
    height: 86px;
    margin-top: 12px;
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: flex;
    justify-content: space-between;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer__input::placeholder {
  width: 47px;
  height: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .footer__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: #2196f3;
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__btn:hover, .footer__btn:focus {
  background-color: #188ce8;
  border-radius: 0;
}

@media screen and (max-width: 1199px) {
  .footer__btn {
    margin: 0 auto;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .filter {
    margin-bottom: 40px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .filter {
    flex-wrap: nowrap;
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 15px;
}

.filter__btn {
  border-style: none;
  padding: 6px 22px;
  transition-property: background, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: #212121;
  outline: none;
}

.filter__btn:hover, .filter__btn:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.project__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .project__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .project__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .project__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.project__item .project__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item .project__link:hover, .project__item .project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item .project__link:hover .project__content, .project__item .project__link:focus .project__content {
  transform: translateY(0);
}

.project__item .project__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__item .project__site {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-decoration: inherit;
  color: #757575;
}

.project__item .project__card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project__item .project__wrap {
  position: relative;
  overflow: hidden;
}

.project__item .project__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 93px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 40px;
  width: 100%;
  max-height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms var(--timing-function), opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .backdrop--hidden {
  transform: translate(-50%, 100%) scale(0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms var(--timing-function), opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-style: none;
  outline: none;
  background-color: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__end,
.modal__close:focus .modal__end {
  fill: #2196f3;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__field {
  margin-bottom: 10px;
  position: relative;
}

.modal__field--last {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 11px;
  padding-left: 32px;
  color: #212121;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  color: #212121;
  outline: none;
  resize: none;
}

.modal__comment:hover, .modal__comment:focus {
  border-color: #2196f3;
}

.modal__comment::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__text {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__consent {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .modal__consent {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 479px) {
  .modal__consent {
    flex-wrap: wrap;
  }
}

.modal__tick {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__consent:hover .modal__tick,
.modal__consent:focus .modal__tick {
  border: 2px solid #2196f3;
}

.modal__checkbox:checked .modal__tick {
  background-color: #2196f3;
  border: none;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .modal__tick {
    position: relative;
    top: 4px;
  }
}

.modal__policy {
  text-decoration: underline;
  color: #2196f3;
  margin-left: 5px;
}

.modal__send {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__send:hover, .modal__send:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */