.features {
	padding-bottom: 0;
}

.features__list {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}
}
.features__item {
	display: inline-block;
	text-align: center;
	@media screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		&:last-child {
			margin-bottom: 60px;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		&:not(:nth-last-child(-n + 2)) {
			margin-bottom: 30px;
		}
		&:nth-last-child(-n + 2) {
			margin-bottom: 60px;
		}
		&:nth-child(2n + 1) {
			margin-right: 30px;
		}
	}
	@media screen and (min-width: 1200px) {
		text-align: left;
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.features__wrap {
	height: 120px;
	width: 100%;
	margin-bottom: 30px;
	@media screen and (min-width: 480px) {
		width: 450px;
	}
	@media screen and (min-width: 768px) {
		width: 354px;
	}

	display: flex;

	background-color: $second-bg-color;
	border-radius: 4px;

	align-items: center;
	justify-content: center;
	@media screen and (min-width: 1200px) {
		width: 270px;
	}
}

.features__title {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $second-color;
	@media screen and (min-width: 768px) {
		width: 270px;
		margin-left: 0;
		text-align: start;
	}
}
.features__text {
	width: 100%;
	min-height: 50px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $text-color;
	text-align: left;
	@media screen and (min-width: 768px) {
		width: 354px;
		height: 75px;
	}
	@media screen and (min-width: 1200px) {
		width: 270px;
		min-height: 75px;
	}
}
