header {
	border-bottom: 1px solid $line-color;
	position: relative;
}
.header {
	display: flex;
	@media screen and (max-width: 767px) {
		position: relative;
		min-height: 60px;
		justify-content: space-between;
	}
	align-items: center;
	@media screen and (min-width: 768px) {
		height: 80px;
	}
}
.logo {
	font-family: Raleway;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.38;
	letter-spacing: 0.03em;
	text-decoration: inherit;
	color: $accent-color;
	@media screen and (max-width: 1199px) {
		font-size: 24px;
		line-height: 1.17;
	}
	@media screen and (min-width: 1200px) {
		line-height: 1.19;
	}
}
.header__logo {
	color: $second-logo-color;
}
.nav__open {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 10px;
	right: 15px;
	:hover,
	:focus {
		&.menu__open {
			fill: $accent-color;
		}
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.nav__container {
	background-color: $main-color;
	padding: 48px 40px;

	position: fixed;
	z-index: 1;
	top: 0px;
	width: 100vw;
	height: 100vh;
	// @media screen and (min-width: 480px) {
	// 	width: 480px;
	// 	height: 796px;
	// }
	@media screen and (max-width: 767px) {
		position: absolute;
		top: 0;
		left: 0;

		&.is-hidden {
			display: none;
		}
	}
	@media screen and (min-width: 768px) {
		display: flex;
		width: 516px;
		height: 80px;
		padding: 0;
		position: relative;
		justify-content: space-between;
		margin-left: 87px;
	}

	@media screen and (min-width: 1200px) {
		margin-left: 93px;
	}
}
.nav__close {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 10px;
	right: 15px;
	width: 40px;
	height: 40px;
	border-style: none;
	outline: none;
	background-color: inherit;

	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: $timing-function;
	&:hover .nav__end,
	&:focus .nav__end {
		fill: $accent-color;
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.nav {
	@media screen and (min-width: 768px) {
		display: flex;
		width: 294px;
		height: 48px;
		justify-content: space-between;
	}
}
.nav__item {
	display: block;
	@media screen and (max-width: 767px) {
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 302px;
		}
	}
	@media screen and (min-width: 768px) {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}
}
.nav__link {
	outline: none;
	position: relative;
	display: block;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: $timing-function;

	font-weight: 500;
	@media screen and (max-width: 767px) {
		height: 48px;
		font-size: 40px;
		line-height: 1.17;
	}
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: $second-color;
	text-decoration: inherit;
	@media screen and (min-width: 768px) {
		padding-top: 32px;
		padding-bottom: 32px;
		font-size: 14px;
		line-height: 1.14;
		&::after {
			position: absolute;
			left: 0px;
			bottom: 0px;

			content: "";
			display: block;
			width: 100%;
			height: 5px;
			border-radius: 2px;

			background: $accent-color;
			opacity: 0;
			transition: opacity 250ms $timing-function;
		}
	}

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.nav__link--current {
	color: $accent-color;
	&::after {
		opacity: 1;
	}
}

.auth {
	display: block;
	@media screen and (min-width: 768px) {
		padding: 21px 0px 21px 84px;
	}
	@media screen and (min-width: 1200px) {
		width: 333px;
		margin-left: 305px;
		display: flex;
		padding: 0;
	}
}

.auth__item {
	@media screen and (min-width: 1200px) {
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

.auth__link {
	display: block;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: $timing-function;

	font-weight: 500;
	letter-spacing: 0.02em;
	text-decoration: inherit;
	color: $text-color;
	outline: none;
	&:hover,
	&:focus {
		color: $accent-color;
	}
	@media screen and (min-width: 768px) {
		display: flex;
	}
}
.auth__tel {
	@media screen and (max-width: 767px) {
		font-size: 34px;
		line-height: 1.18;
		color: $accent-color;
		position: relative;
		bottom: 30px;
	}
	@media screen and (min-width: 611px) and (max-width: 767px) {
		right: 80%;
	}
	@media screen and (max-width: 479px) {
		font-size: 24px;
	}

	@media screen and (min-width: 768px) {
		font-size: 12px;
		line-height: 1.17;
	}
	@media screen and (min-width: 1200px) {
		width: 142px;
		height: 16px;
		margin-left: 30px;
		font-size: 14px;
		line-height: 1.14;
	}
}
.auth__mail {
	@media screen and (max-width: 767px) {
		font-size: 24px;
		line-height: 1.17;
		position: relative;
		top: 80px;
	}
	@media screen and (min-width: 768px) {
		display: flex;
		font-size: 12px;
		line-height: 1.17;
		margin-bottom: 10px;
		@media screen and (min-width: 1200px) {
			width: 161px;
			height: 16px;
			font-size: 14px;
			line-height: 1.14;
		}
	}
}
.auth__icon {
	@media screen and (max-width: 767px) {
		display: none;
	}
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: $timing-function;

	fill: $text-color;
	align-content: center;
	margin-right: 10px;
	.auth__link:hover &,
	.auth__link:focus & {
		fill: $accent-color;
	}
}

.navsocial__list {
	position: relative;
	top: 100px;
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.navsocial__item {
	&:not(:last-child) {
		padding-right: 10px;
		border-right: 1px solid rgba(33, 33, 33, 0.2);
	}
	&:not(:first-child) {
		padding-left: 10px;
	}
	@media screen and (max-width: 479px) {
		margin-bottom: 10px;
	}
}
.navsocial__link {
	width: 81px;
	height: 22px;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	color: $accent-color;
}
