$accent-color: #2196f3;
$second-logo-color: #000000;
$main-color: #ffffff;
$second-color: #212121;
$link-color: #ffffff96;
$text-color: #757575;
$second-bg-color: #f5f4fa;
$main-bg-color: #e5e5e5;
$foot-bg-color: #2f303a;
$btn-hover-color: #188ce8;
$stroke-color: #eeeeee;
$line-color: #ececec;
$icon-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$shadow-color: rgba(0, 0, 0, 0.15);
$main-shadow-color: rgba(0, 0, 0, 0.12);
$second-shadow-color: rgba(0, 0, 0, 0.14);
$third-shadow-color: rgba(0, 0, 0, 0.2);
$border-color: rgba(0, 0, 0, 0.1);
$gradient-color: rgba(47, 48, 58, 0.4);
